In [1]:
2/3

0

In [2]:
2.0/3

0.6666666666666666

In [3]:
3/2

1

In [4]:
3.0/2

1.5

In [9]:
#add
x=2+3
y=2.0+3.5

In [1]:
name='hafez ahmad '
age=21

In [3]:
print ("mty is {} and age is {}".format(name,age))

mty is hafez ahmad  and age is 21

In [12]:
a=[2,3,4,5]

In [13]:
a

[2, 3, 4, 5]

In [17]:
a

[2, 3, 4, 5]

In [15]:
a

[2, 3, 4, 5]

In [1]:
a=[2,3,4,5,6,7,89,9]

In [2]:
a.index

In [3]:
b='hafez ahmad'
b

'hafez ahmad'

In [4]:
b.upper()

'HAFEZ AHMAD'

In [5]:
b.capitalize()

'Hafez ahmad'

In [6]:
a.count(3)

1

In [7]:
b.split('e')

['haf', 'z ahmad']

In [8]:
b.partition('e')

('haf', 'e', 'z ahmad')

In [9]:
'hi\hello'.expandtabs()

'hi\\hello'

In [11]:
#one line to two line 
print 'hi '
print 'hi man '
print 'hi rupa'
# 1 into two use \n
print 'hi jhara \n and how are you?'

hi
hi man
hi rupa
hi jhara
 and how are you?

In [12]:
b[1]

'a'

In [13]:
b

'hafez ahmad'

In [14]:
b[1:]

'afez ahmad'

In [15]:
b[:1]

'h'

In [16]:
b[2:]

'fez ahmad'

In [17]:
a

[2, 3, 4, 5, 6, 7, 89, 9]

In [18]:
b

'hafez ahmad'

In [20]:
len('b')

1

In [21]:
len('a')

1

In [22]:
len(b)

11

In [23]:
len(a)

8

In [29]:
b[::1]

'hafez ahmad'

In [30]:
b[::2]

'hfzamd'

In [31]:
b[::-1]

'damha zefah'

In [33]:
c=b+' is a good student '

In [34]:
c

'hafez ahmad is a good student '

In [8]:
def my_func(x,y,z):
    s=1+y
    s2=s+2+y
    s3=s2+3+z
    return s3

In [9]:
my_func(2,3,3)

15

In [13]:
import numpy as np
a=range (2,40,2)
b=np.arange(2,40,2)

In [12]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [14]:
b

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34,
       36, 38])

In [1]:
  dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__name__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'exit',
 'get_ipython',
 'quit']

In [ ]:
2+3

In [5]:
name=['hafez','jhara','kota']

In [6]:
 age=21,22,13

In [ ]:
a=2+3

In [ ]:
a

In [12]:
print ("my is {} and age is {}".format(name,age))

my is ['hafez', 'jhara', 'kota'] and age is (21, 22, 13)

In [13]:
import math

In [14]:
a=2

In [17]:
math.sqrt(a)

1.4142135623730951

In [18]:
math.degrees(a)

114.59155902616465

In [19]:
a

2

In [20]:
math.cos(a)

-0.4161468365471424

In [21]:
1==1

True

In [31]:
if (2==2):
    print('jjj')

jjj